html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 98%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #21123a 0%, #21123a 50%, #2b2c5f 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  padding: 0;
  margin: 5;
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  height: 26vw;
  width: 22vw;
  border-radius: 1%;
  background-color: rgba(181, 181, 181, 0.289);
  padding: 8px;
}

#chartContainer {
  position: relative;
  width: 100%;
  height: 220px;
}

.container {
  padding: 2vw;
}

.downLeft {
  background-color: rgba(181, 181, 181, 0.289);
}

#donutGrafico {
  position: relative;
  display: flex;
  justify-items: center;
  width: 100%;
  height: 220px;
}

@media (max-width: 768px) {
  .chart-container {
    height: 160px;
  }
  ul {
    flex-direction: column;
    width: 70vw;
  }

  li {
    flex-grow: 1;
    width: 70vw;
    height: 90vw;
  }
}
