* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #21123a 0%, #21123a 50%, #2b2c5f 100%);
  color: white;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background-color: rgba(181, 181, 181, 0.289);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card h3 {
  font-weight: 400;
}

.card h2 span {
  font-size: 1.6rem;
}

.logo {
  width: 24px;
  height: auto;
}

.chart-box {
  position: relative;
  width: 100%;
  height: 220px;
}

.comparativo {
  background-color: rgba(181, 181, 181, 0.289);
  padding: 16px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: calc(50% - 8px);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 12px);
  }

  .chart-box {
    height: 200px;
  }
}
